.wp-block-resideo-plugin-search-properties {
    background-color: #f5f7fa;
    padding: 20px;
    border: 1px dotted #888;
}
.wp-block-resideo-plugin-search-properties .search-properties-placeholder-img {
    background: url(../images/search-properties-module.png) no-repeat scroll center center;
    background-size: contain;
    height: 156px;
}
.wp-block-resideo-plugin-search-properties .search-properties-placeholder-header,
.wp-block-resideo-plugin-search-properties .search-properties-placeholder-subheader {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-top: 0;
}
.wp-block-resideo-plugin-search-properties .search-properties-placeholder-header {
    margin-bottom: 0;
}
.wp-block-resideo-plugin-search-properties .components-panel__header h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1.1em;
}
.wp-block-resideo-plugin-search-properties .search-properties-list-item-title {
    font-weight: 600;
    margin-top: 7px;
}
.wp-block-resideo-plugin-search-properties .search-properties-list-item-text {
    font-size: 12px;
}
.wp-block-resideo-plugin-search-properties fieldset span.components-base-control__label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    padding-bottom: 4px;
}
.wp-block-resideo-plugin-search-properties .search-properties-list-header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1rem;
}
.wp-block-resideo-plugin-search-properties .search-properties-inline-label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    display: inline-block;
    font-size: 13px;
}
.wp-block-resideo-plugin-search-properties .search-properties-inline-field {
    display: inline-block;
    width: auto;
}
.wp-block-resideo-plugin-search-properties .search-properties-inline-field input {
    width: 40px;
    margin: 0 10px;
}